*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 50px;
}

.content-block {
    margin: 10px 0;
    border: 1px dashed #ccc;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}
