body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f3f4f6;
}

.chat-container {
    width: 300px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#messageInput {
    width: calc(100% - 50px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

#sendButton {
    width: 90px;
    padding: 10px;
    border: none;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

#sendButton:hover {
    background-color: #0056b3;
}

.message {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
}


.my-message {
    background-color: #d1ffd1; 
    align-self: flex-end;
    text-align: right;
}


.other-message {
    background-color: #d1e7ff; 
    align-self: flex-start;
    text-align: left;
}


#messages {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 400px;
    overflow-y: auto;
}
